<h3>ユーザー登録</h3>
<form name="sign" method="POST" action="/signup">
	<table>
		<tr>
			<td>ニックネーム：</td>
			<td><input type="text" name="name" value="" /></td>
		</tr>
		<tr>
			<td>メールアドレス：</td>
			<td><input type="text" name="email" value="" /></td>
		</tr>
		<tr>
			<td>パスワード：</td>
			<td><input type="text" name="password" value="" /></td>
		</tr>
	</table>
	<input type="submit" name="send" value="送信" />
</form>
